.commit {
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 20px solid yellow ;
    background-color: blue;
}

.button {
    background-color: brown;
    color: white;
    border-radius: 10px;
}